<head>
    <title>Vier is Bier</title>

    <!-- <script type="text/javascript" src="js/libs/json2.js"></script> -->
    <script type="text/javascript" src="js/libs/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="js/libs/underscore-min.js"></script>
    <script type="text/javascript" src="js/libs/backbone-min.js"></script>
    <script type="text/javascript" src="js/libs/backbone.localStorage.js"></script>
    <script type="text/javascript" src="js/todos.js"></script>
    <!-- <script type="text/javascript" src="js/vierisbier.js"></script> -->
    
    <link rel="stylesheet" href="css/vierisbier.css" type="text/css" />
    <link rel="stylesheet" href="css/todos.css" type="text/css" />
</head>


<body class="init">

    <div id="todoapp">

    <header>
        <h1>Todos</h1>
        <input id="new-todo" type="text" placeholder="What needs to be done?">
    </header>

    <section id="main">
        <input id="toggle-all" type="checkbox">
        <label for="toggle-all">Mark all as complete</label>
        <ul id="todo-list"></ul>
    </section>

    <footer>
        <a id="clear-completed">Clear completed</a>
        <div id="todo-count"></div>
    </footer>

    </div>

    <div id="instructions">
        Double-click to edit a todo.
    </div>

    <div class="container">
        <section class="game-board">
            <h4 class="game-round">Round: <span class="count">0</span></h4>
            <div class="dice-number">4</div>
        </section>

        <div class="users">
            <h1>Vier is bier!</h1>
            <ul>

            </ul>

            <div class="newuser">
                <input type="text" name="username" class="new-user" placeholder="Add player.." />
                <button type="submit" />Add</button>
                <button class="roll">PLAY</button>
            </div>

        </div>

        <br style="clear:both" />
    </div>

    <!-- Templates -->

    <script type="text/template" id="item-template">
        <div class="view">
            <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
            <label><%- title %></label>
            <a class="destroy"></a>
        </div>
        <input class="edit" type="text" value="<%- title %>" />
    </script>

    <script type="text/template" id="stats-template">
    <% if (done) { %>
        <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
    <% } %>
        <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
    </script>

</body>
